.cardsWrapper {
  width: 100%;
  height: 100%;
  @media (min-width: 1600px) {
  }
  .isWeatherNoData {
    height: 100%;
    display: flex;
    justify-content: center;
    h1 {
      color: #ffaa009a;
    }
  }
  .isWeatherDiv {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .cityChoosingDiv {
      .notice {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        color: #ffaa00;
        h2 {
          padding: 0;
          margin: 10px 0;
        }
      }
      .pCardWrapper {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        .cardDiv {
          cursor: pointer;
          .foreCastInfoDiv {
            height: 115px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            @media (max-width: 1440px) {
              height: 150px;
            }
            @media (max-width: 1280px) {
              height: 180px;
            }
            @media (max-width: 992px) {
              height: 200px;
            }
            .p-card-header {
              width: 100%;
              h1 {
                text-align: center;
                padding: 0;
                font-size: 20px;
              }
            }
            .p-card-body {
              width: 100%;
              display: flex;
              padding: 0;
              justify-content: center;
            }
          }
        }
        ::ng-deep .p-card.p-component {
          width: 100%;
          box-shadow: 0 2px 8px -1px rgb(0, 0, 0, 0.3);
          background-image: var(--gradient1);
          background-size: 300%;
          background-position: left;
          transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.110s;
          border-radius: 0.6em;
          border: 1px solid rgba(255, 255, 255);
          &:hover,
          &:focus,
          &:active {
            background-position: right;
            transform: translateY(-5px) scale(1.055);
            border: 1px solid rgba(64, 46, 50, 0.4);
            box-shadow: 0px 4px 12px -1px rgb(255, 149, 0, 0.3);
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }

  .dailyWeatherDiv {
    width: 95%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    @media (max-width: 992px) {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
    }
    .weatherDesc {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 3rem;
        font-weight: 600;
        padding: 0;
        margin: 0;
      }
      h3 {
        font-size: 2rem;
        font-weight: 300;
        padding: 0;
        margin: 0;
      }
    }

    .dailyContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media (max-width: 1280px) {
        max-height: 75vh;
      }
      .dailyCardDiv {
        padding: 15px;
        ::ng-deep .p-card.p-component {
          width: 180px;
          box-shadow: 0 2px 8px -1px rgb(0 0 0 / 30%);
          background-image: var(--gradient3);
          background-position: left;
          background-size: 300%;
          border-radius: 0.6em;
          border: none;
          transition: all .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          &:hover,
          &:focus,
          &:active  {
            box-shadow: 0 2px 16px -3px rgb(51, 51, 51, 0.3);
            background-position: center;
          }
          .p-card-content {
            width: 100%;
            .temperatureDiv {
              display: flex;
              justify-content: center;
              h1 {
                font-size: 1.1rem;
              }
            }
            .p-card-header {
              text-align: center;
            }
            .p-card-body {
              padding: 0;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  .currentWeatherDiv {
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 35px;
    .currentWeatherDesc {
      width: 100%;
      height: 100%;
      flex-flow: column;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        font-size: 5rem;
        margin: 0;
        padding: 10px 0;
      }
      h3 {
        font-size: 3rem;
        margin: 0;
        padding: 10px 0;
      }
    }
  }
}

/* Loader
-------------------------------------------------- */

.spinnerDiv {
  z-index: 100000;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-color 5s ease-in-out infinite;
  }
  @keyframes custom-progress-spinner-color {
    100%,
    0% {
      stroke: #7847a1;
    }
    40% {
      stroke: #7847a194;
    }
    66% {
      stroke: #dcbef5;
    }
    90% {
      stroke: #9b5ccf;
    }
  }
}

/* End of Loader
-------------------------------------------------- */

/* p-card
-------------------------------------------------- */

::ng-deep p-card {
  padding: 15px;
  width: 25%;

  @media (max-width: 992px) {
    width: 49.9999%;
  }
  @media (min-width: 993px) and (max-width: 1150px) {
    width: 33.3333%;
  }
  @media (min-width: 1281px) and (max-width: 1600px) {
    width: 33.333%;
  }
  @media (min-width: 1601px) {
    width: 33.333%;
  }
}

/* End of p-card
-------------------------------------------------- */
